@page
@model D4PrototypeLearningPlatform.Pages.Cursussen.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cursus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cursus.Id" />
            <div class="form-group">
                <label asp-for="Cursus.Name" class="control-label"></label>
                <input asp-for="Cursus.Name" class="form-control" />
                <span asp-validation-for="Cursus.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cursus.Description" class="control-label"></label>
                <input asp-for="Cursus.Description" class="form-control" />
                <span asp-validation-for="Cursus.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <h4>Linked Modules</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Cursus.Modules[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cursus.Modules[0].Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cursus.Modules)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-page="/Modules/Edit" asp-route-id="@item.Id" asp-route-cursus="@Model.Cursus.Id">Edit</a> |
@*                            <a asp-page="/Modules/Details" asp-route-id="@item.Id" asp-route-cursus="@Model.Cursus.Id">Details</a> |*@
                            <a asp-page="/Modules/Delete" asp-route-id="@item.Id" asp-route-cursus="@Model.Cursus.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form method="post" asp-page-handler="AddModule">
            <input type="hidden" asp-for="Cursus.Id" />
            <div class="form-group">
                <input type="submit" value="Add New Module" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
